server:
  port: 8080

spring:
  datasource:
    url: jdbc:h2:file:./demodb/sse_mvc_server
  jpa:
    hibernate:
      ddl-auto: none
    database-platform: org.hibernate.dialect.H2Dialect
  sql:
    init:
      mode: always

management:
  endpoints:
    web:
      exposure:
        include: "health,info,prometheus"

sse-server:
  housekeeping:
    scheduler: "0 0/5 * * * ?"
    history-in-hours: 1 #keep historical sseEvents in database for the last n hours
